p{
    margin: 0;
}

.card{
    width: inherit;
    height: inherit;
}

.cardImg{
    width: inherit -10px;
    height: 300px;
}

.cardBody{
    padding: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.MovieSearchSearchBarFilms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badge{
    white-space: pre-wrap;
}

